<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="datos[pregunta]" value="<%= pregunta.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="datos[respuesta]" value="<%= pregunta.respuesta %>"/> <p>

<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
