<form method="get" action="/preguntas/<%= pregunta.id %>/respuesta" >

    Pregunta: <%= pregunta.pregunta %>
    <input type="text" name="respuesta" value="Responda aquí" />
    <input type="submit" value="Enviar" >
</form>
