<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Preguntas </title>
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' type='text/css' media='only screen and (min-width: 530px) and (min-device-width: 481px)' href='/css/wide.css' />
        <link rel='stylesheet' type='text/css' media='only screen and (max-width: 480px)' href='/css/smartphone.css' />
    </head>

    <body>
        <div id="page-wrap">
              <header class="main" id="h1">
                  <%if(!session.user){%>
                    <!--<span class="right"><a href="/user">Usuario</a> - --><a href="/login">Iniciar sesión</a></span>
                  <%}else{%>
                    <span class="right"> <%=session.user.username%> - <!--<a href="/user/<%=session.user.id%>/edit">Configuración</a> - --><a href="/logout">Cerrar sesión</a></span>
                  <%}%>

                  <h2>Quiz<span>: el juego de las preguntas</span></h2>
              </header>

          <nav class="main" id="n1" role="navigation">
              <span><a href="/">Inicio</a></span>
              <span><a href="/preguntas">Preguntas</a></span>
              <span><a href="/preguntas/estadisticas">Estadísticas</a></span>
              <span><a href="/author">Créditos</a></span>
          </nav>

          <section class="main" id="s1">

            <% if (errores.length) { %>
              <span id='ErrorMsgs'>
                Corregir errores:<br/>
                <% for (var i in errores) { %>
                   <span> <%= errores[i].message %> </span><br/>
                <% } %>
              </span>
            <% } %>

              <div><%- body %></div>

          </section>

          <footer class="main" id="f1">
              <a target="_blank" href="https://github.com/xabier1/Proyecto-Quiz-I">Quiz-I en github</a>
          </footer>

        </div>
    </body>
</html>
