Añadir comentario:

<form method="post" action="/preguntas/<%= pregunta %>/comentarios/" >
  <input type="text" id="comment" name="comentario[texto]" value=""/>
  <button type="submit">Enviar</button>
</form>
